[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
djangorestframework = "*"
django-debug-toolbar = "*"
djangorestframework-xml = "*"
django-filter = "*"
djoser = "*"
djangorestframework-simplejwt = "~=5.2.1"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.13"
