{% extends 'mainapp/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Reservations - La Tavola Italiana{% endblock %}

{% block extra_style %}
<style>
  body {
    background: url("{% static 'mainapp/images/reservation.jpg' %}") no-repeat center center fixed;
    background-size: cover;
  }
    .reservation-form {
        background-color: #f8f9fa;
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: 0 0 15px rgba(0,0,0,0.1);
    }
    .reservation-img {
        border-radius: 1rem;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    .form-group label {
        margin-top: 1rem;
    }
</style>
{% endblock %}

{% block content %}     


<div class="container mt-5 main-container">
    <div class="row align-items-center g-4">
        <div class="col-12 col-lg-6">
            <img src="{% static 'mainapp/images/interior.jpg' %}" alt="Reservation Image" class="img-fluid reservation-img">
        </div>
        <div class="col-12 col-lg-6">
            <div class="reservation-form">
                <h2 class="text-center mb-4">Make a Reservation</h2>
                <form method="post" action="{% url 'mainapp:reservations' %}">
                    {% csrf_token %}
                    
                    <div class="form-group">
                        {{ form.name.label_tag }}
                        {{ form.name|add_class:"form-control" }}

                        {{ form.email.label_tag }}
                        {{ form.email|add_class:"form-control" }}

                        {{ form.phone.label_tag }}
                        {{ form.phone|add_class:"form-control" }}
                    </div>

                    <div class="form-group row mt-1">
                        <div class="col-md-6">
                            {{ form.date.label_tag }}
                            {{ form.date }}
                        </div>
                        <div class="col-md-6">
                            {{ form.time.label_tag }}
                            {{ form.time }}
                        </div>
                    </div>

                    <div class="form-group mt-1">
                        {{ form.people.label_tag }}
                        {{ form.people|add_class:"form-control" }}
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary mt-4 px-5">Submit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}
